<div id="contenitore_principale">

  <div>
    <h6><b>Car List Component</b></h6>

    <label>Inserisci un Colore:</label>
    <br>
    <input type="text"  placeholder="scrivi qualche cosa"  #inputCasella1 >
    <br>
    <label>Numero di porte:</label>
    <br>
    <input type="text"  placeholder="scrivi qualche cosa"  #inputCasella2>
    <br>
    <label>Tipo di cambio:</label>
    <br>
    <input type="text"  placeholder="scrivi qualche cosa"  #inputCasella3>

    <button (click)="onClick(inputCasella1,inputCasella2,inputCasella3)">Save</button>
 

  </div>

  <br>

  <div>

    <h6> <b>Elemento salvato della lista</b></h6>
    <p>Hai registrato il dato {{testo_salvato}}</p>

  </div>

</div>
